footer{
    background-color: #ffc008;
    height: auto;
    position: relative;
    bottom: 0;
    width: 100%;
}
a{
    color: black !important;
   display:inline-block;
    text-decoration: none !important;
    font-size: 20px;
}
