footer{
    background-color: #ffc008;
    height: auto;
    position: relative;
    bottom: 0;
}
footer a{
    color: black !important;
   display:block;
    text-decoration: none !important;
    font-size: 20px;
}
footer p{
 margin: 0 !important;
 font-weight: bold;
}
#phone{
    direction: ltr;
    unicode-bidi: embed;
}
